.navigation {
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;
    background-color: $main-color;
    position: relative;
    margin-bottom: 12rem;

    ul {
        padding-left: 0;

        li {
            padding: 1rem;
            list-style-type: none;
            margin-left: 0;

            a {
                text-decoration: none;
            }
        }
    }
}

.navigation::after {
    content: 'Polska w Szwajcarii';
    position: absolute;
    top: 7rem;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%);
    font-family: "Lora", serif;
}

.menu-name {
    padding: .7rem;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    cursor: pointer;
}

.nav-mobile-menu {
    margin-right: 1em;
    padding: 2rem;
}