.navigation {
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;

    ul {
        padding-left: 0;

        li {
            padding: 1rem;
            list-style-type: none;
            margin-left: 0;

            a {
                text-decoration: none;
            }
        }
    }
}

.menu-name {
    background-color: rgba(127, 255, 212, 0.769);
    padding: .7rem;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    cursor: pointer;
}

.nav-mobile-menu {
    margin-right: 1em;
    padding: 2rem;
}