.navigation {
    display: flex;
    justify-content: center;
    flex-direction: row;

    ul {
        align-items: flex-end;

        li {
            padding: 1rem;
            text-decoration: none;
            list-style-type: none;
        }
    }
}

.nav-mobile-menu {
    margin-right: 1em;
    padding: 2rem;
}