:root {
  --min-screen-height: 102.5vh;
}

.App {
  margin: 0 auto;
  // display: grid;
  // grid-template-columns: .7fr .9fr 1.5fr .9fr;
  // grid-row: auto;
  // grid-template-areas: 
  //   "header header header header"
  //   "header header header header"
  //   "content content content content";
  gap: .75fr .4fr;
}

.App-header {
  grid-area: header;
  min-height: var(--min-screen-height);
  background-image: url('../public/krakow.jpg');
  // Obraz <a href="https://pixabay.com/pl/users/tevenet-5800252/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2893783"> Piotr</a> z <a href="https://pixabay.com/pl//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2893783"> Pixabay</a>
  background-size: cover;
  background-color: cadetblue;
  position: relative;
}

.waves {
  position:absolute;
  bottom: 0;
  width: 100%;
  height:15vh;
  margin-bottom:-7px;
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 60s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

.screen-root-container {
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 2em;
  border: var(--border);
  border-radius: 0.3em;

}

.modal-menu {
  position: fixed;
  min-width: 550px;
  left: 50%;
  top: 4.5em;
  transform: translate(-50%);
  border: var(--border);
  border-radius: 5px;
  background-color: white;
  padding: 1em 1em 1em 1em;
  z-index: 1000;
}

.navigation {
  grid-area: header;
  position: relative;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.content {
  grid-area: content;
  background-color: beige;

}

input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.action-btn {
  background-color: skyblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-btn {
  background-color: white;
  color: gray;
  padding: 14px 20px;
  margin: 8px 0;
  border: solid 1px gray;
  border-radius: 4px;
  cursor: pointer;
}

.form-buttons {
  margin-top: 0.25em;
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  grid-auto-flow: column;
}

.form-buttons-sm {
  grid-template-columns: 1fr;
}

.form-btn-left {
  grid-column: 1;
}

.form-btn-right {
  grid-column: 2;
  margin-left: 2em;
  padding-top: 0.8em;
}

.title-bar {
  margin-bottom: 0.4em;
  padding-bottom: 0.25em !important;
  border-bottom: 3px solid var(--input-border-color);
}

.panel {
  display: flex;
  flex-direction: row;
  border: solid var(--panel-border-thickness) var(--border-color);
  border-radius: 0.07em;
  background-color: var(--panel-color);

  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-lg {
  margin-left: 0.5em;
  width: 2.23em;
}

.points-icon {
  margin-top: 0.5em;
}

.clickable-span {
  cursor: pointer;
}

.field {
  width: 100%;
  height: 56px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s all;
}
.field:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

hr {
  width: 100%;
  border: solid 2px var(--section-divider-color);
}

.title-bar {
  margin-bottom: 0.4em;
  padding-bottom: 0.25em !important;
  border-bottom: 3px solid var(--input-border-color);
}

@media screen and (orientation: portrait ) and (max-width: 768px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "header"
      "header"
      "content";
  }

  .waves {
    height:40px;
    min-height:40px;
  }
  
  .modal-menu {
    min-width: 60px;
    left: 0.5em;
    right: 0.5em;
    top: 3.5em;
    transform: translate(0%);
  }
}